<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasper.myandroidtest" >

    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取电话信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 通过使用<uses-feature>元素，一个应用可以指定它所支持的硬件型号 -->
    <!-- 摄像头 硬件支持 -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 这样声明就所有Activity都可以使用搜索，若放在Activity子项里面则只能该Activity可以使用 -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResultActivity" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tabs1Activity" />
        <activity
            android:name=".Tabs2Activity"
            android:label="@string/title_activity_tabs2" />
        <activity
            android:name=".AsyncTaskActivity"
            android:label="@string/title_activity_async_task" />
        <activity
            android:name=".Tabs3Activity"
            android:label="@string/title_activity_tabs3" />
        <activity
            android:name=".FileActivity"
            android:label="@string/title_activity_file" />
        <activity
            android:name=".camera.CameraActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_camera" />
        <activity
            android:name=".MyActionBarActivity"
            android:label="@string/title_activity_my_action_bar" >
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:label="@string/title_activity_search_result" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- 首选项例子 -->
        <activity
            android:name=".preference.MyPreferenceActivity"
            android:label="@string/title_activity_my_preference" >
        </activity>
        <activity
            android:name=".preference.ListPreferenceActivity"
            android:label="@string/title_activity_list_preference" >
        </activity>
        <activity
            android:name=".preference.MyListPreferenceActivity"
            android:label="@string/title_activity__my_list_preference" >
        </activity>
        <activity
            android:name=".preference.CheckboxPreferenceActivity"
            android:label="@string/title_activity_checkbox_preference" >
        </activity>
        <activity
            android:name=".preference.EditPreferenceActivity"
            android:label="@string/title_activity_edit_preference" >
        </activity>
        <activity
            android:name=".listView.SimpleListViewActivity"
            android:label="@string/title_activity_simple_list_view" >
        </activity>
        <activity
            android:name=".listView.MyListViewActivity"
            android:label="@string/title_activity_my_list_view" >
        </activity>
        <activity
            android:name=".ImageViewActivity"
            android:label="@string/title_activity_image_view" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".PermissionActivity"
            android:label="@string/title_activity_permission" >
        </activity>
        <activity
            android:name=".dialog.DialogActivity"
            android:label="@string/title_activity_dialog" >
        </activity>
        <activity
            android:name=".fragmentManager.FragmentManagerActivity"
            android:label="@string/title_activity_fragment_manager" >
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".BitmapCacheActivity"
            android:label="@string/title_activity_bitmap_cache" >
        </activity>
        <activity
            android:name=".camera.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name=".sensor.GradienterActivity"
            android:label="@string/title_activity_gradienter" >
        </activity>
        <activity
            android:name=".listView.PhoneInfoActivity"
            android:label="@string/title_activity_phone_info" >
        </activity>
        <activity
            android:name=".sensor.SimpleSensorActivity"
            android:label="@string/title_activity_simple_sensor" >
        </activity>
    </application>

</manifest>
